@import "../../CSS/custom.css"; 
@import "../../CSS/material.css"; 
@import "../../CSS/media.css"; 
@import "../../CSS/table.css"; 


#prevalue{
    z-index: 1000;
    margin-top: -30px;
}

.pagination{
    text-align:end;
    justify-content:flex-end;
}

.paginate{
    text-align:end;
    justify-content:flex-end;
}


.button.small {
    font-size: 10px;
    padding: 1.6em 2.5em;
}


@media only screen and (min-width:320px) and (max-width:770px){
.mobileview{
    display: block;
}
}